body {
    margin: auto;
    width: 1500px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
}

h1 {
    line-height: 20rem;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 12rem;
    color: azure;

}

.cabeza{

    background-color: black;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-image: url(..//img/espaldagrande.jpg);
    justify-content: center;
    
}

.MINAVBAR li{

    display: flex;
    margin: auto;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 1500px;

    background-color: beige;

}

ul{
    padding-left: 0%;
    margin-bottom: 0%;
}

nav ul li a{
    text-decoration: none;
}

.seccion_1{
    display: flex;
    justify-content: center;
    overflow: hidden;
} 

h2{
    color: rgba(22, 189, 189, 0.685);
}

.rutinas{

    background-color: azure;

}

.ensalada_de_arroz{
    width:600px;
    height:336px;
}

.fotoBlancoNegro{
    width:670px;
    height:25rem;
}

.dominada{
    width:670px;
    height:25rem;
}

.vertical{
    width:670px;
    height:25rem; 
}

.aparecer{
    animation-duration: 10s;
    animation-name: aparecer;
    animation-iteration-count: infinite;

}

@keyframes aparecer{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }

}



@media screen and (max-width: 600px) {
    body {
        width: 400px;
    }

    #cabeza {
        height: rem;
        background-image: url(../img/espalada_600x600.jpg);
        background-size: cover;
    }

    h1 {
        line-height: 10rem;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
        color: azure;
    }

    .MINAVBAR{
        width: auto;
    }

    .seccion_2{
        width: 400px;
        display: flex;
        justify-content: center;
        
    }
}


#pag2{

    margin: auto;
    width: 1500px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    animation-name: example;
    animation-duration: unset;
}

@keyframes example{
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

